<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<target name="RAP 1.5 milestones" sequenceNumber="10">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.runtime.requirements.feature.group" version="1.5.0.20120126-0223"/>
<unit id="org.eclipse.rap.runtime.feature.group" version="1.5.0.20120126-0223"/>
<repository location="http://cloud.eclipsesource.com/rt/rap/nightly/runtime/20120126-0216/"/>
</location>
</locations>
</target>
